.calendarRowSkeleton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 12px;
    border-bottom: 1px solid var(--grey-2);

    & > * {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: backgroundMovement;
        animation-timing-function: linear;
        background: var(--grey-2);
        background: linear-gradient(
            267.58deg,
            var(--grey-2) 0%,
            var(--grey-1) 80%,
            var(--grey-2) 100%
        );
        background-size: 200%;
        display: inline-flex;
        width: 80px;
        height: 23px;
        border-radius: 2px;
    }
}

@keyframes backgroundMovement {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}
