.calendarRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 12px;
    border-bottom: 1px solid var(--grey-2);
}

.calendarCol {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--black);
    display: flex;
    align-items: center;
    white-space: nowrap;

    & + & {
        //color: var(--grey-3);
    }
}

.colBadge {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--green);
    display: inline-flex;
    margin-left: 12px;
}

.timeDivider {
    display: inline-flex;
    padding: 0 4px;
}
