.calendar {
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 2px 2px 3px var(--grey-2);
    min-width: 375px;
    background-color: var(--white);
    box-sizing: border-box;
    margin: 16px;

    @media all and (max-width: 767px) {
        min-width: 320px;
    }
}
